.Homeview {
  /* display */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* position */
  position: absolute;
  width: 100%;
  height: 100%;
  /* style */
  background-color: rgb(0, 0, 0);
  color: white;
}

.Homeview .buffered-imgs {
  display: none;
}

.Homeview .card-ctr {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.Homeview .Homeview-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.Homeview .Homeview-buttons-container {
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 25px 0px;
  z-index: 3;
}

.Homeview .Homeview-buttons-container button {
  width: 200px;
  padding: 5px;
}

/* - - - - - MatchupCard Navigation Link - - - - - */

.Homeview .generate-matchup-btn {
  /* display */
  box-sizing: content-box;
  /* position */
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 15%;
  z-index: 3;
  /* style */
  width: 50px;
  height: 50px;
  padding: 20px;
  border: none;
  background-color: transparent;
}

.Homeview .generate-matchup-btn img {
  /* display */
  box-sizing: content-box;
  /* position */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 3;
  /* style */
  filter: invert(100%);
}

.Homeview .generate-matchup-btn .generate-matchup-img {
  /* display */
  /* position */
  /* style */
  width: 37px;
  height: 37px;
  padding: 20px;
}

.Homeview .generate-matchup-btn .refresh-anim {
  /* display */
  /* position */
  /* style */
  width: 75px;
  height: 75px;
}

.Homeview .nav-menu {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 3%;
  width: 100%;
  z-index: 3;
}

.Homeview .nav-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
  width: 70%;
  /* background-color: rgb(20, 20, 20, 0); */
  /* box-shadow: 0 0 5px 5px rgba(101, 101, 101, 0.2); */
  border-radius: 100px;
}

.Homeview .nav-menu ul li {
  list-style: none;
  /* border: 1px rgba(255, 255, 255) solid; */
}

.Homeview .nav-menu ul li button {
  background-color: transparent;
  border: none;
}

.Homeview .nav-menu ul li button img {
  width: 30px;
  height: 30px;
  padding: 10px;
  filter: invert(100%);
}

.Homeview .nav-chevron {
  height: 20px;
  width: 20%;
  padding: 30px;
  text-decoration: none;
  opacity: 0.9;
}

.Homeview .nav-animation {
  transform: translateY(-120vh);
  transition: 0.6s;
}

.Homeview .alpha {
  position: absolute;
  font-family: LucidaConsole;
  font-size: 10px;
  color: yellow;
  z-index: 10;
  bottom: 0px;
  right: 20px;
}

/* >>>>>>>>>>>>>>>>>> Media Queries <<<<<<<<<<<<<<<<<< */
@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }

  .Homeview {
    /* display */
    /* position */
    /* style */
    background-color: rgb(219, 216, 202);
  }

  .Homeview .card-ctr {
    /* display */
    /* position */
    height: 85%;
    width: 75%;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    /* style */
    border-radius: 50px;
  }

  .Homeview .generate-matchup-btn {
    /* display */
    /* position */
    bottom: 18%;
    padding: 20px;
    width: 100px;
    height: 100px;
    /* style */
  }

  .Homeview .generate-matchup-btn .generate-matchup-img {
    /* display */
    /* position */
    /* style */
    width: 60px;
    height: 60px;
    padding: 20px;
  }

  .Homeview .generate-matchup-btn .refresh-anim {
    /* display */
    /* position */
    /* style */
    width: 115px;
    height: 115px;
  }

  .Homeview .nav-menu {
    position: absolute;
    right: 0%;
    transform: translateX(-75%);
    bottom: 8%;
    width: 40%;
    z-index: 1;
  }
  .Homeview .nav-menu ul {
    width: 80%;
  }

  .Homeview .nav-chevron {
    height: 25px;
    width: 125px;
  }

  .Homeview .alpha {
    color: rgb(195, 0, 0);
  }
}

@media only screen and (min-width: 1024px) {
  .Homeview .card-ctr {
    /* display */
    /* position */
    width: 50%;
    /* style */
  }
  .Homeview .nav-menu ul {
    width: 60%;
  }

  @media only screen and (min-width: 1350px) {
    .Homeview .card-ctr {
      /* display */
      /* position */
      width: 30%;
      /* style */
    }
    .Homeview .nav-menu ul {
      width: 40%;
    }
  }
}
