/* display */
/* position */
/* style */

/* RESETS */
.MatchupFeed ul {
  margin: 0px;
  padding: 0px;
}

/* SPECIFICS */
.MatchupFeed {
  /* display */
  /* position */
  position: relative;
  height: 100%;
  width: 100%;
  overflow: scroll;
  /* style */
}

.MatchupFeed .loading-ctr {
  /* display */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position */
  /* style */
}

.MatchupFeed .matchup-feed-list {
  height: 100%;
  padding-top: 12vh;
  padding-bottom: 20vh;
  margin-bottom: 100px;
  box-sizing: border-box;
}

.MatchupFeed .matchup-feed-list .MatchupFeedCard {
  box-sizing: border-box;
}

.MatchupFeed .matchup-feed-heading {
  /* color: rgb(48, 48, 48); */
  max-width: 75%;
}

.MatchupFeed .matchup-feed-heading h1 {
  display: flex;
  position: relative;
  font-size: 24px;
  font-weight: 400;
  margin: 0px 0px 10px 0px;
}

.MatchupFeed .material-icons {
  text-decoration: none;
  color: rgb(48, 48, 48);
  position: absolute;
  font-size: 42px;
  left: -35px;
  top: -30%;
}

.MatchupFeed .spacer {
  height: 30%;
  width: 100%;
}

/* >>>>>>>>>>>> Media Queries <<<<<<<<<<<< */

@media only screen and (min-width: 768px) {
  .MatchupFeed {
    width: 60%;
  }
}
