/* display */
/* position */
/* style */

/* RESETS */
.MatchupCard img {
  margin: 0px;
  padding: 0px;
}

/* SPECIFICS */

/* - - - - - MatchupCard General - - - - - */
.MatchupCard {
  /* display */
  /* position */
  /* style */
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.MatchupCardLoading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  z-index: 10;
}

.MatchupCard .daily-header {
  /* display */
  /* position */
  /* style */
  display: flex;
  top: 5%;
  width: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
  z-index: 2;
  opacity: 0.9;
}

.MatchupCard .daily-header p {
  padding: 10px 20px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
}

.MatchupCard .generate-matchup {
  /* display */
  /* position */
  /* style */
  display: flex;
  bottom: 10%;
  width: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.MatchupCard .generate-matchup p {
  padding: 10px 20px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 15px;
}

.MatchupCard .hide {
  display: none;
}

.MatchupCard .vs {
  /* display */
  /* position */
  /* style */
  font-size: 40px;
  position: absolute;
  text-align: center;
  width: 50px;
  top: 33%;
  left: 50%;
  transform: translate(-50%, 33%);
  z-index: 2;
  text-shadow: -2px 2px 0 #000, 2px 2px 0 #000, 2px -2px 0 #000,
    -2px -2px 0 #000;
}

/* - - - - - MatchupCard Media Containers - - - - - */
.MatchupCard .media-container {
  /* display */
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* position */
  position: relative;
  max-width: 100%;
  /* style */
}

.MatchupCard .image-subcontainer {
  /* display */
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  flex: 3;
  /* position */
  width: 100%;
  min-height: 375px;
  /* max-height: 530px; */
  z-index: 1;
  /* style */
}

.MatchupCard .main-img {
  width: 90%;
  max-width: 275px;
  height: 60%;
  max-height: 400px;
  min-height: 275px;
  object-fit: cover;
  border-radius: 8px;
}

.MatchupCard .bg-img {
  /* display */
  display: block;
  /* position */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  min-height: 100%;
  width: 100%;
  object-fit: cover;
  background-position: center;
  /* style */
  box-sizing: border-box;
  background-size: cover;
  filter: hue-rotate(15deg) brightness(50%) contrast(110%) blur(4px);
  /* Forces GPU acceleration on iOS for blur performance */
  transform: translate3d(0, 0, 0);
}

.MatchupCard .text-subcontainer {
  flex: 3;
  width: 90%;
  z-index: 1;
  font-size: 15px;
}

.MatchupCard .media-title {
  font-size: 22px;
}

/* >>>>>>>>>>>>>>>>>>>> Animations <<<<<<<<<<<<<<<<<<<<*/

/* - - - - - - Winner Animation - - - - - - */
.MatchupCard .animOut1 {
  transform: translateX(-100%);
  transition: 0.5s;
  z-index: 2;
}

.MatchupCard .animOut2 {
  transform: translateX(100%);
  transition: 0.5s;
  z-index: 2;
}

.MatchupCard .fa-crown {
  display: none;
}

.MatchupCard .crownAnimation1 {
  /* display */
  display: block;
  /* position */
  position: absolute;
  top: 35%;
  left: 15%;
  z-index: 3;
  transform: translateY(50vh);
  /* style */
  color: #fff;
  font-size: 70px;
  text-shadow: 0 0 30px #fbd035, 0 0 10px #fbd035, 0 0 20px #fbd035,
    0 0 35px #fbd035, 0 0 45px #fbd035;
  animation: flicker 0.51s ease-in-out infinite alternate, 0.5s floaty infinite;
}

.MatchupCard .crownAnimation2 {
  /* display */
  display: block;
  /* position */
  position: absolute;
  top: 35%;
  left: 65%;
  z-index: 3;
  transform: translateY(50vh);
  /* style */
  color: #fff;
  font-size: 70px;
  text-shadow: 0 0 30px #fbd035, 0 0 10px #fbd035, 0 0 20px #fbd035,
    0 0 35px #fbd035, 0 0 45px #fbd035;
  animation: 0.5s floaty infinite;
}

@keyframes floaty {
  0% {
    transform: translateY(100px) scale3d(0.4, 0.4, 0.4);
  }
  20% {
    transform: translateY(-50px) scale3d(0.6, 0.6, 0.6);
  }
  40% {
    transform: translateY(0px) scale3d(1.3, 1.3, 1.3);
  }
  60% {
    transform: translateY(-25px) scale3d(1.2, 1.2, 1.2);
  }
  80% {
    transform: translateY(0px) scale3d(1.1, 1.1, 1.1);
  }
  100% {
    transform: translateY(0px) scale3d(1.1, 1.1, 1.1);
  }
}
/* >>>>>>>>>>>>>>>>>>>>MEDIA QUERY<<<<<<<<<<<<<<<<<< */

@media only screen and (min-width: 768px) {
  .MatchupCard {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50px;
  }

  .MatchupCardLoading {
    border-radius: 50px;
  }

  .MatchupCard .daily-header p:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  .MatchupCard .main-img {
    max-width: 270px;
  }

  .MatchupCard .bg-img {
    /* display */
    /* position */
    /* style */
    box-sizing: border-box;
    background-size: cover;
    filter: hue-rotate(15deg) brightness(50%) contrast(110%) blur(4px);
    /* Forces GPU acceleration on iOS for blur performance */
    transform: translate3d(0, 0, 0);
  }

  .MatchupCard .crownAnimation1 {
    left: 20%;
  }

  .MatchupCard .crownAnimation2 {
    left: 70%;
  }
}
