/* display */
/* position */
/* style */

/* RESETS */
.MatchupFeed ul {
  margin: 0px;
  padding: 0px;
}

/* SPECIFICS */
.MatchupFeed {
  /* display */
  /* position */
  position: relative;
  height: 100%;
  width: 100%;
  overflow: scroll;
  /* style */
  /* backdrop-filter: brightness(200%) contrast(200%) saturate(500%); */
}

.MatchupFeed .loading-ctr {
  /* display */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position */
  /* style */
}

.MatchupFeed .matchup-feed-list {
  /* display */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  /* position */
  position: relative;
  height: 100%;
  /* style */
  overflow-y: scroll;
  list-style: none;
}

.MatchupFeed .material-icons {
  text-decoration: none;
  color: rgb(48, 48, 48);
  position: absolute;
  font-size: 42px;
  left: -35px;
  top: -30%;
}

.MatchupFeed .spacer {
  height: 30%;
  width: 100%;
}

/* >>>>>>>>>>>> Media Queries <<<<<<<<<<<< */

@media only screen and (min-width: 512px) {
  .MatchupFeed {
    /* display */
    /* position */
    width: 90%;
    /* style */
  }
}

@media only screen and (min-width: 1024px) {
}
