/* display */
/* position */
/* style */

/* RESETS */
.MatchupFeedCard img,
.MatchupFeedCard p {
  margin: 0px;
  padding: 0px;
}

/* SPECIFICS */
.MatchupFeedCard {
  /* display */
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  /* position */
  position: relative;
  min-height: 250px;
  max-height: 250px;
  width: 93%;
  margin: 10px auto;
  padding: 10px 0px;
  /* style */
  border: 3px solid rgb(255, 255, 255);
  border-radius: 10px;
}

.MatchupFeedCard p,
.MatchupFeedCard a {
  font-family: "Lucida Console";
  font-weight: 400;
  color: white;
  font-size: 12px;
}

.MatchupFeedCard .bg-img {
  /* display */
  display: block;
  /* position */
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-position: center;
  /* style */
  background-size: cover;
  object-fit: cover;
  filter: hue-rotate(15deg) brightness(70%) contrast(120%) blur(3px);
}

.MatchupFeedCard .vs {
  /* display */
  /* position */
  position: absolute;
  text-align: center;
  width: 50px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 33%);
  z-index: 1;
  /* style */
  font-family: "Bangers";
  font-weight: 400;
  font-size: 34px;
  text-shadow: -2px 2px 0 #000, 2px 2px 0 #000, 2px -2px 0 #000,
    -2px -2px 0 #000;
}

.MatchupFeedCard .info-ctr {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 15px;
  white-space: pre-wrap;
  z-index: 2;
}

.MatchupFeedCard .bottom-info-ctr {
  /* display */
  box-sizing: border-box;
  /* position */
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 15px 25px;
  /* style */
}

.MatchupFeedCard .bottom-info-ctr p {
  /* display */
  /* position */
  /* style */
  font-weight: 600;
}

.MatchupFeedCard .info-ctr .info-handle {
  font-weight: 800;
  text-decoration: none;
}

.MatchupFeedCard .media-container {
  /* display */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  /* position */
  position: relative;
  max-width: 100%;
  /* style */
}

/* TODO: SCALING OFF WINDOW SIZE PERCENTAGE */
.MatchupFeedCard .image-subcontainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.MatchupFeedCard .image-subcontainer .main-img {
  width: 150px;
  height: 150px;
  margin: 5px;
  object-fit: cover;
  border-radius: 5px;
  border: 2px rgba(255, 255, 255, 0.9) solid;
}

.MatchupFeedCard .image-subcontainer .image-overlay {
  /* display */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position */
  position: absolute;
  width: 150px;
  height: 150px;
  margin: 5px;
  /* style */
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  border-radius: 5px;
}

.MatchupFeedCard .image-subcontainer .image-overlay .text-container {
  /* display */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* position */
  position: relative;
  height: 100%;
  width: 100%;
  /* style */
}

.MatchupFeedCard .image-subcontainer .image-overlay .text-container p {
  /* display */
  /* position */
  /* style */
  margin: 5px;
}

.MatchupFeedCard .winner {
  /* border: 5px solid rgb(255, 228, 90); */
  /* box-shadow: 0px 0px 10px 11px rgb(203, 191, 31); */
  animation: 2s glow infinite;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 8px 10px rgb(203, 191, 31);
  }
  50% {
    box-shadow: 0 0 5px 5px rgb(203, 191, 31);
  }
  100% {
    box-shadow: 0 0 8px 10px rgb(203, 191, 31);
  }
}

@media only screen and (min-width: 1024px) {
}
