.NavModal {
  /* display */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position */
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  /* style */
  background-color: rgba(75, 75, 75, 0.4);
  backdrop-filter: blur(20px);
  /* Forces GPU acceleration on iOS for blur performance */
  transform: translate3d(0, 0, 0);
}

/* >>>>>>>>>>>> Media Queries <<<<<<<<<<<< */

@media only screen and (min-width: 1024px) {
  .NavModal {
    border-radius: 50px;
    overflow: hidden;
  }
}
