@font-face {
  font-family: LucidaConsole;
  src: url("./media/fonts/lucon.ttf");
}

#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Bangers", cursive;
  color: rgb(48, 48, 48);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* = = = GENERAL / GLOBAL = = = */
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.full-h-w {
  width: 100%;
  height: 100%;
}
